<form class="form" data-bind="attr: {'id': getCode() + '-form'}">
<fieldset data-bind="attr: {class: 'fieldset payment items ccard ' + getCode(), id: 'payment_form_' + getCode()}">
    
    <!-- ko if: (getSaveCardAllowed() && (getSavedCardsCount() > 0) )-->
    <div class="paymentmethods-radio-wrapper">
        <input type="radio" 
               name="payment[cc_type]" 
               data-bind="checked: getCode() + '_newcard',
                          checked:loadEventAction (getCode() + '_newcard'),
                          attr: {'value': getCode() + '_newcard',
                                 'data-validate': JSON.stringify({
                                     'validate-one-required-by-name':true }),
                                 id: getCode() + '_newcard'}" checked>
            <label data-bind="attr: {for: getCode() + '_newcard'}">
                <!-- ko i18n: getCheckoutLabels('CO1')--><!-- /ko --></label>
    </div>
    <div class="paymentmethods-radio-wrapper">
        <input type="radio" 
               name="payment[cc_type]"
               data-bind="checked:loadEventAction (getCode() + '_usesavedcard'),
                          attr: {'value': getCode() + '_usesavedcard',
                                 'data-validate': JSON.stringify({
                                    'validate-one-required-by-name':true }),
                                 id: getCode() + '_usesavedcard'}"/>
            <label data-bind="attr: {for: getCode() + '_usesavedcard'}">
                <!-- ko i18n: getCheckoutLabels('CO13')--><!-- /ko --></label>
    </div>
    <!-- /ko -->
    
    <!-- ko if: (isShowLegend())-->
    <legend class="legend">
        <span><!-- ko i18n: 'Credit Card Information'--><!-- /ko --></span>
    </legend><br />
    <!-- /ko -->
   <div class="field type required" data-bind="attr: {id: getCode() + '_cc_type_div'}">
       
      
        <input type="radio" name="payment[cc_type]" value="VISA-SSL" checked="checked"/>
                  
       
    </div>
    <!--<div data-bind="visible: false" class="cc-Visibility-Enabled">-->
    <div class="field number required cc-Visibility-Enabled" data-bind="visible: false">
       
        <div class="control ccnumber_withcardtype" data-bind="attr: {id:'creditcardnumber'}">
            <input type="number" name="payment[cc_number]" class="input-text payment_cc_number" value=""
                   data-bind="attr: {
                                    placeholder : getCheckoutLabels('CO3'),
                                    autocomplete: off,
                                    id: getCode() + '_cc_number',
                                    title: $t('Credit Card Number'),
                                    'data-container': getCode() + '-cc-number',
                                    'data-validate': JSON.stringify({
                                      'required-number':true,
                                      'worldpay-validate-number': true,
                                      'worldpay-cardnumber-valid':true,
                                      'worldpay-cardbrand-valid':true
                                    })},
                                    enable: isActive($parents),
                                    value: creditCardNumber,
                                    valueUpdate: 'keyup'
                                    "/>
            <span class="cc-card-type"></span>
         
        </div>
    </div>
    
   
    <div class="field name required cc-Visibility-Enabled" data-bind="visible: false">
        <div class="control">
            <input type="text" name="payment[cc_name]" class="input-text" value=""
                   data-bind="attr: {
                                    placeholder: getCheckoutLabels('CO4'),
                                    autocomplete: off,
                                    id: getCode() + '_cc_name',
                                    title: $t('Card Holder Name'),
                                    'data-container': getCode() + '-cc-Name',
                                    'data-validate': JSON.stringify({
                                      'required':true
                                    })},
                                    value: cardHolderName,
                                    "/>
        </div>
    </div>

    <div class="field date required cc-Visibility-Enabled" data-bind="attr: {id: getCode() + '_cc_type_exp_div'},visible: false">
       
        <div class="control">
            <div class="fields group group-2">
                <div class="field no-label month">
                    <div class="control">
                        <select  name="payment[cc_exp_month]"
                                 class="select select-month"
                                 data-bind="attr: {id: getCode() + '_expiration', 'data-container': getCode() + '-cc-month', 'data-validate': JSON.stringify({required:true, 'validate-cc-exp':'#' + getCode() + '_expiration_yr'})},
                                            enable: isActive($parents),
                                            options: getCcMonthsValues(),
                                            optionsValue: 'value',
                                            optionsText: 'month',
                                            optionsCaption: $t(getCheckoutLabels('CO6')),
                                            value: creditCardExpMonth">
                        </select>
                    </div>
                </div>
                <div class="field no-label year">
                    <div class="control">
                        <select name="payment[cc_exp_year]"
                                class="select select-year"
                                data-bind="attr: {id: getCode() + '_expiration_yr', 'data-container': getCode() + '-cc-year', 'data-validate': JSON.stringify({required:true})},
                                           enable: isActive($parents),
                                           options: getCcYearsValues(),
                                           optionsValue: 'value',
                                           optionsText: 'year',
                                           optionsCaption: $t(getCheckoutLabels('CO7')),
                                           value: creditCardExpYear">
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ko if: (hasVerification())-->
    <div class="field cvv required cc-Visibility-Enabled" data-bind="attr: {id: getCode() + '_cc_type_cvv_div'},visible: false">
      
        <div class="control _with-tooltip">
            <input type="number" 
                   autocomplete="off"
                   class="input-text cvv"
                   name="payment[cc_cid]"
                   value=""
                   data-bind="attr: {
                        placeholder: getCheckoutLabels('CO5'),
                        id: getCode() + '_cc_cid',
                        title: $t('Card Verification Number'),
                        'data-container': getCode() + '-cc-cvv',
                        'data-validate': JSON.stringify({'required-number':true, 'validate-card-cvv':'#' + getCode() + '_cc_type'})},
                        enable: isActive($parents),
                        value: creditCardVerificationNumber" />
            <div class="field-tooltip toggle">
                <span class="field-tooltip-action action-cvv"
                      tabindex="0"
                      data-toggle="dropdown"
                      data-bind="attr: {title: $t('What is this?')}, mageInit: {'dropdown':{'activeClass': '_active'}}">
                    <span><!-- ko i18n: 'What is this?'--><!-- /ko --></span>
                </span>
                <div class="field-tooltip-content"
                     data-target="dropdown"
                     data-bind="html: getCvvImageHtml()"></div>
            </div>
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: (getSaveCardAllowed() && (isTokenizationEnabled()))-->
    <div class="field savecc cc-Visibility-Enabled" data-bind="attr: {id: getCode() + '_save-card_div'}, visible: false">
        <div class="control">
            <input type="checkbox" class="input-check savecard"  name="save-card"  data-bind="attr: {
                    id: getCode() + '_save_card', title: $t('Save This Card'),
                    'data-container': getCode() + '-save-card'}, value: saveMyCard">
            <label data-bind="attr: {for: getCode() + 'save-card'}" class="label">
                <span><!-- ko i18n: getCheckoutLabels('CO8')--><!-- /ko --></span>                 
                <!-- ko if: (isDisclaimerMessageEnabled())-->
                    <span>(<a data-bind="click: disclaimerPopup"><!-- ko i18n: $t(getCheckoutLabels('CO9'))--><!-- /ko --></a>)</span>
                <!-- /ko -->
            </label>
        </div>
    </div>
    <div data-bind="attr: {title: $t(getCheckoutLabels('CO17'))}" id="dialog" style="display: none" align = "center" title="">
        <form id="disclaimer" name="disclaimer">
            <div data-bind="html: disclaimerMessage()"></div>
        </form>
    </div>
    <div class="mage-error" generated="true"  id="disclaimer-error"></div>
    <!-- /ko -->
    <!--</div>-->
    </fieldset>
</form>

<form class="form" data-bind="attr: {'id': getCode() + '-savedcard-form'}">
    <input type="hidden" name="payment[cc_id]" id="cc_id" value="savedcard">
        <div class="field sacedcard" id="saved-Card-Visibility-Enabled" data-bind="visible: false">
            <fieldset data-bind="attr: {class: 'fieldset payment items ccard ' + getCode(), 
                                        id: 'save_form_' + getCode()}">
                <!-- ko if: (getSavedCardsCount() > 0)-->
                    <h4><!-- ko i18n: (getCheckoutLabels('CO12'))--><!-- /ko --></h4>
                    <!-- ko template: 'Sapient_AccessWorldpay/payment/saved-card-form' --><!-- /ko -->
                <!-- /ko -->
                <!-- ko ifnot: (getSavedCardsCount() > 0)-->
                    <h4><!-- ko i18n: 'Saved cards'--><!-- /ko --></h4>
                    <span><!-- ko i18n: 'You have no Saved Card.'--><!-- /ko --></span>
                <!-- /ko -->
            </fieldset>
        </div>
</form>